@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  background-color: #fff;
}

input::placeholder {
  color: #b3bac5;
  font-size: 15px;
}

textarea {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: none;
  background-color: #fff;
}

button[type="submit"] {
  margin-top: 16px;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 17px;
  border: none;
  background-color: #fff;
  color: #6070ff;
}

#header {
  width: 100%;
  background-color: #fff;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #6070ff;
}

.logo a {
  text-decoration: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  height: 4rem;
}

.navbar {
  display: flex;
  align-items: center;
  line-height: 4rem;
  height: 100%;
}

.d-navbar {
  display: flex;
  list-style-type: none;
  height: 100%;
}

.d-navbar li {
  margin-left: 1rem;
}

.d-navbar li a {
  color: #6070ff;
}

.lang i {
  font-size: 15px;
  color: #253858;
}

.a-navbar {
  text-decoration: none;
  height: 2em;
  padding: 0.5em 1em;
}

.navbar .humberger i {
  font-size: 22px;
  font-weight: 600;
  color: #6070ff;
}

#main-container {
  position: relative;
  background-color: #e5e5e5;
}

.headline {
  background-image: url(image/Header_bg@2x.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 5rem;
  background-position: center;
}

.headline-main-container {
  width: 90%;
  margin: 0 auto;
}

.welcome {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  text-align: left;
  letter-spacing: 0.37px;
  color: #172b4d;
  padding-bottom: 1.2rem;
}

.introduction {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  max-width: 600px;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  text-align: left;
}

.link-up {
  margin-top: 1rem;
}

.link-up h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6070ff;
  padding: 0.5rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#workers {
  width: 100%;
}

.boxes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #e5e5e5;
}

.box {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 596px;
  padding: 16px;
  margin: 25px auto;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.Tonic {
  width: 100%;
}

.Tonic img {
  max-width: 100%;
}

.logo :hover {
  transform: scale(1.2);
  color: var(--primary-400);
}

h4 {
  color: #172b4d;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  font-family: "Poppins", sans-serif;
  margin: 12px 0;
}

.menu {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #344563;
}

.language ul li {
  background-color: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  padding: 5px 8px;
}

.menu-1 {
  color: #344563;
}

.menu-2 {
  color: #7a869a;
}

.menu ul li {
  display: inline-block;
  padding: 0 5px;
}

p {
  color: #344563;
  font-family: "Poppins", sans-serif;
}

.knowledges {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.knowledges .knw {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-T button {
  border: 1px solid #dfe1e6;
  padding: 10px 20px;
  outline: none;
  background-color: transparent;
  color: #396df5;
  border-radius: 12px;
  box-sizing: border-box;
  margin: 22px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-color: #7f8cff;
}

.btn-T button:focus {
  background-color: #2230d2;
  color: #fff;
}

.btn-T button:hover {
  background-color: #4053fc;
  color: #fff;
}

.aboutMe {
  width: 100%;
  padding-top: 5rem;
  background-color: #fff;
}

.knowledges .knw .lang {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  position: relative;
}

.knowledges .knw .lang::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(190, 190, 190);
}

.lang h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

.lang-b {
  border-bottom: 1px solid #dfe1e6;
}

.knowledges .knw ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 1rem;
}

.knowledges .knw ul li {
  width: 100%;
  background-color: rgb(248, 248, 248);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.5rem;
}

.knowledges .knw ul li img {
  margin-left: 0.8rem;
}

.knowledges .knw ul li h4 {
  font-size: 1rem;
  margin-left: 1rem;
}

.contact-section {
  margin-top: 114px;
  padding: 113px 24px;
  background-color: #fff;
  background-image: url(image/contact_me.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.contact-section form h3 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.contact-section form p {
  margin-top: 12px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.contact-section form p :hover {
  transform: translate(0, 10px);
  font-weight: 700;
}

.background {
  background-color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 67px 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .d-navbar {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .humberger {
    display: none;
  }
}
