@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

#header {
  width: 100%;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #6070ff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  height: 4rem;
}

.navbar {
  display: flex;
  align-items: center;
  line-height: 4rem;
  height: 100%;
}

.d-navbar {
  display: flex;
  list-style-type: none;
  height: 100%;
}

.d-navbar li {
  margin-left: 1rem;
}

.d-navbar li a {
  color: #6070ff;
}

.a-navbar {
  text-decoration: none;
  height: 2em;
  padding: 0.5em 1em;
}

.navbar .humberger i {
  font-size: 22px;
  font-weight: 600;
  color: #6070ff;
}

#main-container {
  position: relative;
  background-color: #e5e5e5;
}

.headline {
  background-image: url(image/Header_bg@2x.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 5rem;
  background-position: center;
}

.headline-main-container {
  width: 90%;
  margin: 0 auto;
}

.welcome {
  font-size: 2.5rem;
  color: #172b4d;
}

.introduction {
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  line-height: 24px;
  color: #172b4d;
  text-align: left;
}

.link-up {
  margin-top: 1rem;  
}

.link-up h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6070ff;
  padding: 0.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 600px) {
  .d-navbar {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .humberger {
    display: none;
  }
}
